meta(charset="utf-8")
block styles
  link(rel="stylesheet", type="text/css", href="/resources/third-party/bootstrap/css/bootstrap.css")
  link(rel="stylesheet", href="/resources/styles/editor.css", media="screen", title="no title")
