script(src="/resources/third-party/ace/ace.js", charset="utf-8")
script(src="/resources/third-party/jquery/jquery.js", charset="utf-8")
script(src="/resources/third-party/bootstrap/js/bootstrap.js", charset="utf-8")
if !readOnly
  script(src="/resources/scripts/toolbar.js", charset="utf-8")
script(src="/resources/scripts/utils.js", charset="utf-8")
script(src="/resources/scripts/editors.js", charset="utf-8")
script(src="/resources/scripts/snippets.js", charset="utf-8")
