.editor {
  width : 100%;
  height : 650px;
  resize: none;
  padding: 10px;
}
.ace_editor.editor {
  font-size : 14px;
}
[contenteditable]:empty:before {
  content : attr(placeholder);
  color : #888;
}
