extends layouts/main
block title
  title AJV Playground
append styles
  link(rel="stylesheet", href="/samples/ajvplay/resources/css/styles.css", media="screen")
block content
  .container#container(data-snippet= slide)
    if !readOnly
      .row#toolbar
        .col-md-12
          button.btn.glyphicon.glyphicon-plus#new(type="button",  name="button" data-tool="new" data-presenter= presenter)
          button.btn.glyphicon.glyphicon-floppy-disk#save(type="button",  name="button" data-url= "/presenter/" + presenter + "/" + presentation data-tool="save", data-method="post" data-data="Snippets.getData()")
    h1(data-snippet-el="title" data-content-editable contenteditable placeholder="Enter a title")
  #slide-editor-container.row
    .col-md-4
      ul.nav.nav-tabs
        li.active
          a(href="#schema-editor" data-toggle="tab") Schema
        li
          a(href="#ajvopts-editor" data-toggle="tab") Validator Options
      .tab-content
        #schema-editor.tab-pane.active.editor(data-snippet-el="schema"
        data-editor-snippets="/samples/snippets/jsonschema.snippets" data-editor data-on-editor-blur="validate")
        #ajvopts-editor.tab-pane.editor(data-snippet-el="ajvoptions" data-editor data-on-editor-blur="setOptions")
    .col-md-4
      h3 Data to Validate
      #data-editor.tab-pane.active.editor(data-snippet-el="data" data-editor data-on-editor-blur="validate")
    .col-md-4
      button#validate.btn.btn-primary Validate
      #errors
append scripts
  script(src="/samples/ajvplay/resources/third-party/ajv/ajv.bundle.js" charset="utf-8")
  script(src="/samples/ajvplay/resources/js/scripts.js" charset="utf-8")
