extends ../layouts/main
block title
  title Markdown Presentation
append styles
  link(rel="stylesheet", href="/samples/ppt/resources/css/styles.css", media="screen")
block content
  .container#container(data-snippet= slide)
    if !readOnly
      .row#toolbar
        .col-md-12
          button.btn.glyphicon.glyphicon-plus#new(type="button",  name="button" data-tool="new" data-presenter= presenter)
          button.btn.glyphicon.glyphicon-floppy-disk#save(type="button",  name="button" data-url= "/presenter/" + presenter + "/" + presentation data-tool="save", data-method="post" data-data="editors.getData()")
          if slide
            button.btn.glyphicon.glyphicon-play#presentation(type="button",  name="button" data-snippet= snippetName data-tool="tutorial")
  #slide-editor-container.row
    .col-md-4
      #slide-editor.editor(data-snippet-el="slide" data-editor data-mode="markdown" data-on-change="createSlideShow")
    .col-md-8
      #slide-preview
append scripts
  script(src="/samples/ppt/resources/third-party/remark/remark.js" charset="utf-8")
  script(src="/samples/ppt/resources/js/scripts.js", charset="utf-8")
